body
{
	background:#eee;
}
#header
{
	width:750px;
	float:left;
}

#header_bar
{
	width:750px;
	float:left;
}

.header_link
{
	width:100px;
	float:left;
	border:1px solid;
}
#postsbyuser
{
	width:750px;
	float:left;
	background:#ccc;
}