/*common*/
 body								{margin:0px}
 div,span,td						{font-family:Arial; font-size:12px;}
 br.c								{overflow:hidden; clear:both}
.outter								{width:760px;}	
 img								{border:none}		
.arrowW								{height:10px; width:5px; background:url(../images/arrow.gif) no-repeat; vertical-align:middle; margin-left:5px; margin-right:5px;} 
.arrowB								{height:10px; width:5px; background:url(../images/arrowb.gif) no-repeat; vertical-align:middle; margin-left:5px; margin-right:5px;} 
.add								{height:10px; width:10px; background:url(../images/add.gif) no-repeat; vertical-align:middle; margin-right:3px;} 

/*Header*/
.header								{background:#3B5998; padding:8px 10px 8px 10px;}
.header	div.l						{float:left; color:#FFFFFF; font-size:14px;}
.header div.r						{float:right; color:#999999}

.header div.r a:link 				{color:#FFFFFF; text-decoration:none}
.header div.r a:visited 			{color:#FFFFFF;}
.header div.r a:hover 				{color:#00FF00;}
.header div.r a:active 				{color:#FFFFFF;}

.breadCrumb							{padding:8px 10px 8px 10px;}
.breadCrumb a	 					{text-decoration:none;}
.breadCrumb a:link 					{color:#3B5998;}
.breadCrumb a:visited 				{color:#3B5998;}
.breadCrumb a:hover 				{color:#3B5998;}
.breadCrumb a:active 				{color:#3B5998;}

/*Dashboard*/
.dashboard							{margin-top:40px; margin-left:20px;}
.dashboard div.link					{float:left; width:175px; height:55px; padding-left:70px; margin-bottom:25px; background:url(../images/dashboard_icon.jpg) no-repeat; cursor:pointer}
.dashboard div.link span			{display:block; padding-bottom:5px; font-size:17px; font-family:tahoma; color:#3B5998}
.dashboard div.link  a				{color:#FFFFFF; text-decoration:none}
.dashboard div.l1					{background-position:0px -66px}
.dashboard div.l1:hover				{background-position:0px -387px}
.dashboard div.l2					{background-position:0px -120px}
.dashboard div.l2:hover				{background-position:0px -441px}
.dashboard div.l3					{background-position:0px -242px}
.dashboard div.l3:hover				{background-position:0px -563px}
.dashboard div.l4					{background-position:0px -177px}
.dashboard div.l4:hover				{background-position:0px -498px}
.dashboard div.l5					{background-position:0px 0px}
.dashboard div.l5:hover				{background-position:0px -321px}

/*Data grid*/
.dt_grd 							{ padding-left:10px; }
.dt_grd tr.h						{}
.dt_grd tr.h td						{background:#FBFBFB;padding:9px;padding-top:7px;padding-bottom:7px;padding-left:10px;border-bottom:1px solid #FBFBFB; border-right:1px solid #ECF7FB; color:#666666;font-weight:bold}
.dt_grd tr.i						{}
.dt_grd tr.i td						{background:#FFFFFF;padding:9px;padding-left:10px;border-right:1px solid #F5F5F5;border-bottom:1px solid #FBFBFB; color:#666666}
.dt_grd tr.i td a					{background:#FFFFFF;color:#000000}
.dt_grd tr.i td.r					{border-right:none}
.dt_grd tr.i:hover td				{background:#FDFDFD;color:#000000}
.dt_grd div.default					{background:#FDFDFD;color:#000000}

.title								{padding-left:10px;clear:both; margin-top:10px; margin-bottom:15px;}
.title div.l						{float:left;font-size:17px; font-family:tahoma; color:#3B5998; }
.title div.r						{float:right;}

/*Form*/
.form								{clear:both; background:None;padding-left:10px; }
.form ul 							{clear:both;height:30px; margin:0px; padding:0px;}
.form ul li							{margin:0px; padding:0px; list-style-type:none; height:50px;}
.form ul li.l						{float:left;width:130px;}
.form ul li.r						{float:left;}
.form ul li.c						{clear:both;overflow:hidden;}
.form input.txt						{border:1px solid #666666; padding:4px;}
.form input.sub						{border:none; padding:2px; color:#FFFFFF; padding-left:15px; padding-right:15px; background:#3B5998; cursor:pointer}
.form input.sub:hover				{background:#000000}









